data_factory/pipeline/load_business_mc.json
{
	"name": "load_business_mc",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CODMES",
									"type": "Int64",
									"physicalType": "String"
								},
								"sink": {
									"name": "CODMES",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PRODUCTO_RBM0",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PRODUCTO_RBM0",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CAT_DEPA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CAT_DEPA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CAT_EDAD",
									"type": "Int16",
									"physicalType": "String"
								},
								"sink": {
									"name": "CAT_EDAD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CAT_GEN",
									"type": "Int16",
									"physicalType": "String"
								},
								"sink": {
									"name": "CAT_GEN",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CTD_OPE",
									"type": "Int64",
									"physicalType": "String"
								},
								"sink": {
									"name": "CTD_OPE",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SUM_MTOCPL",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "SUM_MTOCPL",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SUM_MTOLIN",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "SUM_MTOLIN",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_csv_cp",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('file1')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet_cp",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('file1')",
								"type": "Expression"
							},
							"foldername": {
								"value": "@variables('folder1')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file1",
					"value": "archive2"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "folder1",
					"value": "mm_cosechas"
				}
			}
		],
		"variables": {
			"file1": {
				"type": "String"
			},
			"folder1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "02_creditportfolio"
		},
		"annotations": []
	}
}